<ul class="list-group item-list">

  <li class="list-group-item item-list-item">
    <span class="badge item-price">14&nbsp; $</span>
    <span class="item-remove glyphicon glyphicon-remove"></span>
    Coffee
  </li>

  <li class="list-group-item item-list-item">
    <span class="badge item-price">14&nbsp; $</span>
    <span class="item-remove glyphicon glyphicon-remove"></span>
    Cake
  </li>

  <li class="list-group-item total-price">
    <span><span class="glyphicon glyphicon-usd"></span>28</span>
  </li>

</ul>