 <div class="row">

    <div class="panel history-log">
      <div class="panel-body">
        <table class="table table-striped">

          <thead>
          <tr>
            <th>#</th>
            <th>opened</th>
            <th>diners</th>
            <th>total</th>
            <th>checkout</th>
            <th>comments</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>12:30</td>
            <td>4</td>
            <td>250</td>
            <td>13:30</td>
            <td>leave without saying hello</td>
          </tr>

          <tr>
            <td>1</td>
            <td>12:30</td>
            <td>4</td>
            <td>250</td>
            <td>13:30</td>
            <td>leave without saying hello</td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

